<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="alert-success" id="UsuarioAgg" style="margin-bottom:5px; display: none;" role="alert">
                        <div class="container-error-message">
                            Usuario Registrado <b>Correctamente</b>!
                        </div>
                    </div>
                    <div class="card-body">

                        <h5 class="card-title text-center">Crear un Usuario</h5>

                        <form #frmRegister="ngForm" class="form-signin" (ngSubmit)="onRegister(frmRegister)">

                            <div class="form-label-group">
                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" ngModel required minlength=5 autofocus>
                                <label for="inputEmail">Nombre</label>
                            </div>

                            <div *ngIf="!frmRegister.valid">
                                <div class="alert-danger" *ngIf="this.frmRegister.controls.nombre.invalid && (this.frmRegister.controls.nombre.dirty || this.frmRegister.controls.nombre.touched)" style="margin-bottom:5px" role="alert">
                                    <div class="container-error-message">
                                        Ingrese un Nombre <b>valido</b>!
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Correo Electronico" ngModel minlength=5 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                <label for="inputEmail">Correo Electronico</label>
                            </div>

                            <div *ngIf="!frmRegister.valid">
                                <div class="alert-danger" *ngIf="this.frmRegister.controls.email.invalid && (this.frmRegister.controls.email.dirty || this.frmRegister.controls.email.touched)" style="margin-bottom:5px" role="alert">
                                    <div class="container-error-message">
                                        Ingrese un Email <b>valido</b>!
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="contrasena" id="contrasena" class="form-control" placeholder="Contrasena" ngModel required>
                                <label for="inputPassword">Contrasena</label>
                            </div>

                            <div *ngIf="!frmRegister.valid">
                                <div class="alert-danger" *ngIf="this.frmRegister.controls.contrasena.invalid && (this.frmRegister.controls.contrasena.dirty || this.frmRegister.controls.contrasena.touched)" style="margin-bottom:5px" role="alert">
                                    <div class="container-error-message">
                                        Ingrese una Contrasena <b>valida</b>!
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input type="radio" name="tipoUsuario" id="tipoUsuario" value="Conductor" ngModel required> Conductor
                                <input type="radio" name="tipoUsuario" id="tipoUsuario" value="Administrador" ngModel required> Administrador
                            </div>
                            <label for="tipoUsuario">Tipo de Usuario</label>

                            <div *ngIf="!frmRegister.valid">
                                <div class="alert-danger" *ngIf="this.frmRegister.controls.tipoUsuario.invalid && (this.frmRegister.submitted && this.frmRegister.controls.tipoUsuario.untouched)" style="margin-bottom:5px" role="alert">
                                    <div class="container-error-message">
                                        Seleccione un TipoUsuario!
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <input type="hidden" name="estado" value="false" class="form-control" ngModel>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Register">Registrar</button>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>