<nav class="navbar navbar-expand-lg navbar-light ">

    <div class="col-1">
        <a class="navbar-brand" href="#">
            <img src="assets/img/A-64.png" width="130%" height="130%" alt="">
        </a>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item " routerLinkActive="active" id="ocultar6">
                <!-- <a class="nav-link">{{UsuarioActivo.tipoUsuario}} : {{ UsuarioActivo.nombre }}   .</a> -->
                <a *ngIf="auth.getUserLogueado().tipoUsuario != '' " class="nav-link" style="color: darkgreen;">{{auth.getUserLogueado().tipoUsuario}} : {{ auth.getUserLogueado().nombre }}   </a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="[ 'inicio'] " style="color: darkgreen;"><i class="material-icons" style="color: seagreen;">home</i>Inicio </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link " [routerLink]="[ 'rutas'] " style="color:darkgreen;"><i class="material-icons" style="color: yellowgreen;">commute</i>Rutas</a>
            </li>
            <li class="nav-item " routerLinkActive="active" id="ocultar1">
                <a class="nav-link " [routerLink]="[ 'administrador'] " style="color: darkgreen;"><i class="material-icons" style="color: gold;">build</i>Administrador</a>
            </li>
            <li class="nav-item " routerLinkActive="active" id="ocultar2">
                <a class="nav-link " [routerLink]="[ 'registrar'] " style="color: darkgreen;"><i class="material-icons" style="color: dodgerblue;">supervised_user_circle</i>Registrar</a>
            </li>
            <li class="nav-item " routerLinkActive="active" id="ocultar7">
                <a class="nav-link " [routerLink]="[ 'paradas'] " style="color: darkgreen;"><i class="material-icons" style="color:crimson ;">pan_tool</i>Paradas</a>
            </li>
            <li class="nav-item " routerLinkActive="active" id="ocultar4">
                <a class="nav-link " [routerLink]="[ 'login'] " style="color:darkgreen;"><i class="material-icons" style="color: darkorange;">account_box</i>Inicio Sesion</a>
            </li>
            <li class="nav-item " routerLinkActive="active" id="ocultar5">
                <a class="nav-link " [routerLink]="[ 'conductor'] " style="color: darkgreen;"><i class="material-icons" style="color: lightskyblue;">directions_bus</i>Conductor</a>
            </li>

        </ul>


        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar Ruta" (keyup)="buscarBus(buscarTexto.value)" (keydown.enter)="buscarBus(buscarTexto.value)" #buscarTexto>
            <button (click)="buscarBus(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0 " type="button">Buscar</button>
        </form>
        <li>
            <button id="ocultar3" class="btn btn-outline-danger" (click)="salir()">Salir</button>
        </li>
    </div>
</nav>