<mat-card [style.backgroundColor]="'white'">

    <mat-card-title>
        <div class="form-group row">
            <div class="col-md-6">
                <p style="color: darkgreen;">Mapa</p>
                <div class="input-group" ng-controller="ngifctrl">
                    <b>A donde vas?</b>&nbsp;
                    <input (keydown.enter)="getDirection(buscarParada.value); SendAddToCartEvent(buscarParada.value);" type="text" id="texto" name="texto" class="form-control" placeholder="Ej: Estacion San Mateo, SENA, UIS" #buscarParada>&nbsp;
                    <button (click)="getDirection(buscarParada.value); SendAddToCartEvent(buscarParada.value);" type="button" title="Buscar" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </div>
    </mat-card-title>

    <!-- (centerChange)= (zoomChange) (boundsChange)="moverMapa( $event);" (mapClick)="agregarMarcador( $event )" -->
    <!-- <agm-circle [latitude]="lat" [longitude]="lng" [radius]="30" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">></agm-circle> -->

    <mat-card-content>

        <agm-map [latitude]="latUsuario" [longitude]="lngUsuario" [zoom]="16">
            <agm-direction *ngIf="isDirectionActive" [transitOptions]="{ modes: ['BUS']}" [travelMode]="'TRANSIT'" [provideRouteAlternatives]="true" [origin]="this.origin" [destination]="this.destination"> </agm-direction>

            <agm-marker [iconUrl]="'assets/img/mapaUsuario.png'" [latitude]="latUsuario" [longitude]="lngUsuario">

                <agm-info-window>
                    <strong>Aqui Estas!!</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-card-content>

</mat-card>